.image-container{
    width: 300px;
    height: 500px;
    gap: 50px;
}
.image-container img{
    width: 350px;
    height: 200px;
    
}
/* .menu-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
} */