.food-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.food-menu{
    display:grid ;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
@media screen and (max-width:600px){
    .food-menu{
        grid-template-columns: repeat(1, 1fr);
    }
}